.bgImg {
  height: 100vh;
  background-repeat: no-repeat;
  background-color: #d7beca;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
