.signInDiv{
    height: 400px;
    width: 400px;
    background-color: #735EFF;
    border-radius: 50%;
    display: inline-block;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    
}
